<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recipe_name %>
    <%= form.text_field :recipe_name, id: :recipe_recipe_name %>
  </div>

  <div class="field">
    <%= form.label :recipe_price %>
    <%= form.number_field :recipe_price, id: :recipe_recipe_price %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.text_field :ingredient_id, id: :recipe_ingredient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
