<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe name:</strong>
  <%= @recipe.recipe_name %>
</p>

<p>
  <strong>Recipe price:</strong>
  <%= @recipe.recipe_price %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @recipe.ingredient %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
