<p id="notice"><%= notice %></p>

<p>
  <strong>Pizza name:</strong>
  <%= @pizza.pizza_name %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @pizza.recipe %>
</p>

<p>
  <strong>Crust:</strong>
  <%= @pizza.crust %>
</p>

<%= link_to 'Add to cart', new_order_path(@pizza) %> |
<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
