<!DOCTYPE html>
<html>
  <head>
    <title>ExamGltroncossi</title>
    <%= csrf_meta_tags %>

    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightgray;
      }

      li {
        float: left;
        border-right:1px solid #bbb;
      }

      li:last-child {
        border-right: none;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: lightblue;
      }

      .active {
        background-color: lightskyblue;
      }
    </style>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><a class="active" href="/">Home</a></li>

<!--    <li><a href="ingredients">Ingredients</a></li>-->
<!--    <li><a href="crusts">Crusts</a></li>-->
<!--    <li><a href="recipes">Recipe</a></li>-->
<!--    <li><a href="customers">Customers</a></li>-->
<!--    <li><a href="deliveries">Deliveries</a></li>-->

    <li style="float:right"><a href="/orders">Cart</a></li>

    <% if customer_signed_in? %>
      <li style="float:right"><%= link_to "Profile", current_customer %>
      <li style="float:right"><%= link_to "logout", destroy_customer_session_path, method: :delete %></li>

    <% else %>
      <li style="float:right"><%= link_to "Sign Up", new_customer_registration_path %></li>
      <li style="float:right"><%= link_to "Login", new_customer_session_path %></li>
    <% end %>

  </ul>

  <div>
    <br>
    <br>
  </div>
    <%= yield %>
  </body>
</html>




